.about-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me-title {
  color: var(--text-color);
  font-family: var(--main-font);
  justify-content: center;
  padding-top: 1em;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: .5em;
  border-bottom: 1px solid var(--accent-color);
  width: 10em;
  text-align: center;
  padding-bottom: .3em;
}

.stack-title {
  color: var(--text-color);
  font-family: var(--main-font);
  justify-content: center;
}

.stack-container{
  display: flex;
  border: 1px solid var(--secondary-color);
  flex-wrap: wrap;
  width: auto;
  justify-content: space-evenly;
  border-radius: 7px;
  padding: 2em;
  gap: 2em;
  background-color: #021d30;
}

.tech-icon{
  height: 30px;
}

.tech-icon-container{
  border: 1px solid var(--secondary-color);
  border-radius: 7px;
  padding: 1em;
  justify-items: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.tech-icon-container:hover{
  transform: scale(1.03);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.icon-text{
  color: #868997;
  font-family: var(--secondary-font);
  font-size: small;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.tech-icon-container:hover .icon-text{
  color: white;
}


.stack-title {
  font-size: 3em;
  margin-bottom: .5em;
  border-bottom: 1px solid var(--accent-color);
  width: 10em;
  text-align: center;
  padding-bottom: .3em;
}

.about-description-container{
  border: 1px solid var(--secondary-color);
  border-radius: 7px;
  width: 45em;
  font-size:large;
  background-color: #021d30;
  padding: 2em;
  transition: all 0.3s ease-in-out;
}

.about-description-container:hover{
  transform: scale(1.01);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
}

.about-description-container:hover .about-me-description{
  color: white;
}

.about-me-description{
  color: #868997;
  font-family: var(--secondary-font);
  line-height: 1.7;
  transition: all 0.3s ease-in-out;
}

@media (max-width:  1600px) {
  .about-description-container{
    width: 40em;
  }

  .stack-title {
    font-size: 2.5em;
  }

  .about-me-title {
    font-size: 2.5em;
  }

  .tech-icon {
    height: 20px;
  }

  .icon-text {
    font-size: 12px;
  }

}


