.hero-section-container{
  display: flex;
  align-items: center;
  height: 100vh;
  gap: 5em;
}


.portrait {
  height: 22em;
  width: 22em;
  border-radius: 50%;
  margin-left: 15em;
}

.description-container {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-bottom: 3em;
  font-size: 2em;
  margin-top: 5em;
}

.title {
  font-family: var(--main-font);
  color: var(--secondary-color);
  font-size: 1rem;
  margin-bottom: .5rem;
}

.name{
  font-family: var(--main-font);
  color: var(--text-color);
  margin: 0;
}

.my-role{
  color: #565a6e;
  font-family: var(--main-font);
  margin-top: .2rem;
  margin-bottom: 0;
}

.description {
  color: #565a6e;
  font-family: var(--secondary-font);
  font-size: 16px;
  max-width: 35em; 
  line-height: 1.5em;
}

.description a {
  color: var(--secondary-color);
  text-decoration: none;
}

.resume-dwnld{
  font-family: var(--main-font);
  color: var(--accent-color);
  font-size: 16px;
  text-decoration: none;
  font-weight: 100;
  border: 1px solid var(--accent-color);
  text-align: center;
  max-width: 12em;
  padding: 1em;
  border-radius: 7px;
  margin-top: 2em;
  transition: all 0.3s ease-in-out;
}

.resume-dwnld:hover{
  transform: scale(1.03);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.location-pin {
  color: var(--accent-color);
  font-size: .7em;
  margin-top: 10px;
}

.location-container {
  display: flex;
  gap: .4em;
}

@media (max-width:  1600px) {
  .portrait {
    height: 18em;
    width: 18em;
  }
  .description-container {
    font-size: 1.5em;
  }

  .name {
    font-size: 1.7em;
  }

  .my-role {
    font-size: 1.7em;
  }

}