:root {
    --main-font: "Cascadia Code", sans-serif;
    --text-color: #fff; 
    --logo-font: 'Inter"', sans-serif;
    --primary-color: #001727;
    --secondary-color: #b4ede4;
}

html {
   padding: 0;
   scroll-behavior: smooth;
}

html, body {
   margin: 0;
   min-height: 100vh; 
}

body {
   background-color: whitesmoke;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment: scroll;

}
